doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Atma|Courgette|Kalam|Schoolbell", rel="stylesheet")

    link(rel="stylesheet", href="/stylesheets/AboutUs.css")
    title AboutUs
  script.
    -$(document).ready(function(){
      $("div#bios").hide()
      $("button.btn").click(function(){
        $("div#bios").show();
      })
    })
  body
    img(src="/images/fragole.jpg", class="bg")
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
       a.navbar-brand Let's Cook
       button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div(class="collapse navbar-collapse" id="navbar NavDropdown")
            ul.navbar-nav
              li.nav-item.active
                a.nav-link(href='/') Home
    br
    br
    br
    .row
      .col-md-5
      .col-md-7
        button.btn.btn-secondary(type="button") wanna know more about us?
        div(id="bios") Il nostro progetto è ecosostenibile 


    .footer.container-lg.px-3(role='contentinfo',class = 'foot' )
      .position-relative.d-flex.flex-justify-between.pt-6.pb-2.mt-6.f6.text-gray.border-top.border-gray-light
        ul.d-flex.flex-wrap.list-unstyled
            li.mr-3
              span(title='0.37980s from unicorn-7b444b594b-twlsg') © 2018 Let's cook
            li.mr-3
              a(href='Privacy') Privacy
            li.mr-3
              a(href='ContactUs') ContactUs
            li.mr-3
              a(href='/') Home
            li
              a(href='AboutUs') AboutUs
          .d-flex.flex-justify-center.pb-6
            span.f6.text-gray-light