doctype html
html
  head
    style.
      body{
      background-color:darksalmon;
      }
      h2{
      background-color:rgb(199, 155, 137);
      font-style:normal;
      font-family:URW Chancery L, cursive;
      }
      h3{
      font-style:normal;
      font-family:URW Chancery L, cursive;
      }
  body
    h2  ABOUT US: 
    h3
      | This is a project created by Flavia Masoni and Ilaria Ponzianelli.
      br
      |         It is about the realization of a web page for searching food and cocktails recipes.
      |         Users can comment their favourite recipes using a chat.

