doctype html
html. 
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#e9967a" />
    <meta name="description" content="This is a website about food and drinks recipes."/>
    <meta name="keywords" content="food, drinks" />
    <meta http-equiv="author" content="Flavia Masoni, Ilaria Ponzianelli" />
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers|Croissant+One|Fredoka+One|Kavoon|Slabo+27px|Varela+Round" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Food and cocktails recipes</title>
  </head>
 
  <body data-gr-c-s-loaded="true">
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '2187230971337859',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v3.2'
        });

        FB.getLoginStatus(function(response){
          statusChangeCallback(response);
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function statusChangeCallback(response){
        if(response.status==='connected'){
          console.log('Logged in and authenticated');
        }else{
          console.log('Not authenticated');
        }
      }
      
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
         });
      }
     
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-default">
      <a class="navbar-brand">Let's Cook</a>
      <button type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar NavDropdown" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="Chat" class="nav-link">Chat</a>
          </li>
          <li class="nav-item">
            <a href="AboutUs" class="nav-link">AboutUs</a>
          </li>
          <li class="nav-item"><a href="SignUp" class="nav-link">SignUp</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link">
              SignIn<span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    Login via
                    <div class="social-buttons">
                     <fb:login-button 
                      class="fb-btn"
                      scope="public_profile,email"
                      onlogin="checkLoginState();">
                     </fb:login-button>                
                      
                      <a href="" class="btn btn-tw">
                      <i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    or
                    <form id="login-nav" role="form" method="post" action="login" accept-charset="UTF-8" class="form">
                      <div class="form-group">
                        <label for="exampleInputEmail2" class="sr-only">Email address</label>
                        <input id="exampleInputEmail2" placeholder="Email address" required="" class="form-control" type="email"/>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword2" class="sr-only">Password</label>
                        <input id="exampleInputPassword2" placeholder="Password" required="" class="form-control" type="password"/>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                          Sign in
                        </button>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" /> keep me logged-in</label >
                      </div>
                    </form>
                  </div>
                  <div class="bottom text-center">
                    New here ? <a href="SignUp"><b>Join Us </b></a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class ='wrapper'>
      <header class="clearfix centered">
          <div class="logo">
              <p> LET'S COOK
                  <img src= '/images/noodles.png' class='imglogo'>
              </p>
          </div>
      </header>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/mirtilli.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/imga.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/piatti.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <div class="text-separator">
       <h5>Find here your favuorite recipes </h5> 
      </div>
  
    <div role="contentinfo" class="footer container-lg px-3 foot">
      <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light" >
        <ul class="d-flex flex-wrap list-unstyled">
          <li class="mr-3">
            <span>© 2018 Let's cook</span>
          </li>
          <li class="mr-3"><a href="Privacy">Privacy</a></li>
          <li class="mr-3"><a href="ContactUs">ContactUs</a></li>
          <li><a href="AboutUs">AboutUs</a></li>
        </ul>
        <div class="d-flex flex-justify-center pb-6">
          <span class="f6 text-gray-light"></span>
        </div>
      </div>
    </div>
  </body>
</html>
