doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='theme-color', content='#e9967a')
    meta(name='description', content='This is a website about food and drinks recipes.')
    meta(name='keywords', content='food, drinks')
    meta(http-equiv='author', content='Flavia Masoni, Ilaria Ponzianelli')
    meta(http-equiv='content-language', content='en')
    meta(name='viewport', content='width=device-width, initial-scale=1') 
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
    title Ricette su cibo e cocktail
    
  body
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-default
       a.navbar-brand Let's Cook
       button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div(class="collapse navbar-collapse" id="navbar NavDropdown")
            ul.navbar-nav
              li.nav-item.active
                a.nav-link(href='Chat') Chat
              li.nav-item
                a.nav-link(href='AboutUs') AboutUs
              li.nav-item
                a.nav-link(href='SignUp') SignUp
              
              li.dropdown
                a.nav-link(href='#', data-toggle='dropdown') SignIn
                  span.caret
                ul#login-dp.dropdown-menu
                  li
                    .row
                      .col-md-12
                        | Login via
                        .social-buttons
                          a.btn.btn-fb(href='#')
                            i.fa.fa-facebook
                            |  Facebook
                          a.btn.btn-tw(href='#')
                            i.fa.fa-twitter
                            |  Twitter
                        |                                 or
                        form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                          .form-group
                            label.sr-only(for='exampleInputEmail2') Email address
                            input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                          .form-group
                            label.sr-only(for='exampleInputPassword2') Password
                            input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                            .help-block.text-right
                              a(href='') Forget the password ?
                          .form-group
                            button.btn.btn-primary.btn-block(type='submit') Sign in
                          .checkbox
                            label
                              input(type='checkbox')
                              |  keep me logged-in
                      .bottom.text-center
                        | New here ? 
                        a(href='#')
                          b Join Us    
                          
    div(class="jumbotron text-center")
      div(class= "container")
        h1 LET'S COOK
        h3 if food eat, else drink
        //button(class="btn btn-light") About Us >> 
    div(class="box")
      div(class="container text-center")
        div(class="row")
          div(class="col-sm")
            a(class="btn", href="/search")
              button(class="btn")
                h3 FOOD
                img(src='/images/fruit.jpg',class="imgbtn")
          div(class="col-sm")
            a(class="btn", href="/searchCocktail")
              button(class="btn")
                h3 COCKTAIL
                img(src='/images/drink2.jpg',class="imgbtn")
