<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="cocktail card">
            <div class="cocktailimage">
                <img src="/images/drink.jpg" alt="">
                <div class="info">
                    <div class="view">
                        <span class="name">cocktail</span>
                        <button class="trigger">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="cocktailInfo">
                    <div class="name"> NomeCocktail
                        <div class="info">Informazioni</div>
                    </div>
                    <button class="BackBtn trigger">
                        Back
                    </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>