<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/bulma/css/bulma.css")
    link(rel="stylesheet", href="/stylesheets/search2.css")
    title Search Cocktails
    

  body
    section(class="section")
      div(class="container")
        div(class="field")
          div(class="control")
              input(type="text", name="ricerca",class="input is-medium is-rounded",placeholder="Ricerca cocktail")
        div(class="buttons")
          button(class="button is-ligth is-medium") Cerca
          button(class="button is-danger is-medium") Reset
