doctype html
html
  head
    script(type='text/javascript', language='javascript').
      function validaForm() {
      if(document.registr.nickname.value==""){
      alert("Enter nickname");
      return false;
      }
      if(document.registr.password.value==""){
      alert("Enter password");
      return false;
      }
      alert("Data enterded correctly");
      return true;
      }
    style.
      body{
      text-align: center;
      float:center;
      background-color:darksalmon;
      }
      h2{
      text-align: center;
      font-style: normal;
      float:center;
      background-color:rgb(199, 155, 137);
      font-style:normal;
      font-family:URW Chancery L, cursive;
      }
  body
    br
    br
    br
    h2  SIGN IN AND COMMENT YOUR RECIPES!
    form(action='', method='post', name='registr', onsubmit='return validaForm();')
      br
      |             nickname:
      br
      input(type='text', name='nickname', size='30', maxlength='30')
      br
      |             password:
      br
      input(type='password', min='4')
      br
      br
      input(type='submit', value='Submit')
      input(type='reset', value='Reset')

