.ricetta{
    margin-left: 4%;
    margin-bottom: 10%;
    color:black;   
}
a:hover{
    color: rgb(230, 200, 102);
}
.img{
    border-radius: 4%;
}
.res{
    margin-top: 10%
}
h1{
    font-family: "crougette";
    margin-top: 2%;
}
.navbar-default {
    background-color: #454552;
    border-color: #e7e7e7;
  }