img.bg {
    /* regole per riempire la pagina con lo sfondo prescelto */
        min-height: 100%;
        min-width: 1024px;
    /* regole per ridimensionare l'immagine proporzionalmente */
       width: 100%;
       height: auto;
    /* posizonamento dello sfondo */
       position: fixed;
       top: 0;
       left: 0;
    /*opacita sfondo */
       opacity: 0.6;
}

h1,h2{
    font-family: 'indie flower';
}

.foot{
    margin-bottom: 0%;
    margin-top: 20%;
}
  
.container.contentinfo{
    background-color:#454552;
}
