.navbar-default {
  background-color: #333841;
}

body#body {
  text-align: center;
}

h1#welcome {
  margin-top: 2%;
  font-family: "Comfortaa", sans-serif;
}

div#change_username {
  height: 3%;
  display: inline-block;
  position: absolute;
  top: 22%;
  left: 35%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

section#chatroom {
  height: 50%;
  width: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
}
a#scritta {
  color: black;
}
section#input_zone {
  height: 7%;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 78%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: "Comfortaa", sans-serif;
}

input#message {
  display: inline-block;
  width: 88%;
  height: 70%;
  font-family: "Comfortaa", sans-serif;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
  height: 70%;
  width: 10%;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: "Comfortaa", sans-serif;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: rgb(236, 218, 51);
}

.message:nth-child(odd) {
  background-color: rgb(235, 170, 96);
}
