
body {
  background-color: #f7f7f7;
  color: black;
}
h5{
  color: #fff;
  display: inline-block;
  margin-right: 40%;
  padding: 1%;
}

/* navbar */
.navbar-default {
  background-color: #333841;
  border-color: #e7e7e7;
}
h1 {
  font-family: "indie-flower", cursive;
  color: #454552;
}
.container{
  text-align: center;
  width: 98%;
}
 .text-separator{
  background-color: #454552;
  height: 5%;
  margin-top: 2%;
  width: 50%;
  margin-left: 20%;
 }


.pagination {
  float: right;
}




/*logIn nella navbar*/

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
.foot {
  margin-bottom: 0%;
  margin-top: 20%;
}
/*carosello*/
.carousel{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;

}
.carousel-inner .item img{
  width: 800px;
  height: 480px;


}

.container.contentinfo {
  background-color: #454552;
}
.logo{
  margin-left: 40%;
}
.imglogo{
  size: 2000%;
}
p{
   font-family: 'Croissant One', cursive;
  margin-top: 3%;
  font-size: 300%;
}
.wrapper{
  margin-bottom: 2%;
}
#bottonehome:hover {
  -webkit-box-shadow: 7px 7px 10px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:  7px 10px 7px rgba(0, 0, 0, 0.75);
  -box-shadow: 7px 7px 10px 7px rgba(0, 0, 0, 0.75);
}
.btn{
  background-color: #55acee;
  margin-top: 0%;

}