body {
  background-color: #d8e9ef;
}

/* navbar */
.navbar-default {
  background-color:#454552;
  border-color: #E7E7E7;
}
h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-style: italic;
  font-family: Quick Brown Fox Jumps Over The Lazy Dog;
}

h3 {
  font-style: normal;
  font-family: URW Chancery L, cursive;
}

.jumbotron {
  background-coloR:#9fc2cc;
}

.btn {
  background-color: #4ea1d3;
}

.pagination {
  float: right;
}

.imgbtn{
    padding: 16px;
    border-radius: 8px;

}
div.box {
  width: max-content !important;
  width/**/: max-content;
  height: max-content !important;
  height/**/: max-content;
  padding: 4px;
  overflow: auto;
}

div.box2 {
  width: fit-content !important;
  width/**/: fit-content;
  height: fit-content !important;
  height/**/: fit-content;
  padding: 40px;
  box-align: center;
  overflow: auto;
}
