body{
    background-image :url(/images/cocktail.jpg);
}
.navbar-default {
    background-color:#f7f7f7;
 
  }
.searchbar{
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 3%;
}
.label{
    margin-top:5%;
    margin-right: 2%;
}
.search{
    width:  70%;
} 