img.bg {
    /* regole per riempire la pagina con lo sfondo prescelto */
        min-height: 100%;
        min-width: 1024px;
    /* regole per ridimensionare l'immagine proporzionalmente */
       width: 100%;
       height: auto;
    /* posizonamento dello sfondo */
       position: fixed;
       top: 0;
       left: 0;
    }
body{
    background-color: #694d75;
}