
body{
    background-color: #dad4ce;
    background-image: url(/images/arancia_2.jpg);
}
.navbar-default {
    background-color:#f7f7f7;
 
  }
.searchbar{
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 3%;
}
.label{
    margin-top:5%;
    margin-right: 2%;
}
.search{
    margin-top: 5%;
    margin-left: 25%;
    width:  40%;
    height: 1%;
}
