
body{
    text-align: center;
    float:center;
    background-color:rgb(159, 155, 212);
}
h2{
    text-align: center;
    font-style: normal;
    float:center;
    background-color:rgb(167, 162, 161);
    font-style:normal;
    font-family:URW Chancery L, cursive;
}
