body{
    text-align: center;
    float:center;
    background-color:darksalmon;
    }
h2{
    text-align: center;
    font-style: normal;
    float:center;
    background-color:rgb(150, 201, 171);
    font-style:normal;
    font-family:URW Chancery L, cursive;
}